body {
  overflow-x: hidden;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btnMap {
  margin-top: 20%;
  padding: 0;
}

.full-width-btn {
  width: 100%;
  margin-left: 35px;
  padding: 0;
}

.weatherForecast {
  background-color: rgba(35, 117, 189, 85%);
}

.weatherForecast {
  color: white;
  background-color: rgba(35, 117, 189, 80%);
}

.weatherForecast .vline {
  border-right: 2px solid black;
}

.weatherForecast .vline:last-child {
  border-right: none;
}

.currentWeather {
  border-right: 2px solid black;
}

.currentWeather > .row {
  margin-top: 20px;
}

.currentWeatherTemp {
  font-weight: bolder;
  font-size: 92px;
}

.today-background {
  background-color: rgba(87, 177, 255, 100%);
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.day-background {
  background-color: rgba(87, 177, 255, 100%);
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
}

.temp {
  font-size: 64px;
  font-weight: 500;
}
